<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./style.css"/>

    <title>Login /Register</title>
  </head>
 

  <body>
    <div
      class="
        container-sm shadow container-xs container_center
        d-flex
        justify-content-center
        align-items-center
      "
    >
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-lg-6 my-2">
        </div>

        <form action="/" method = "POST">
         {% csrf_token %}  
          <div class="mb-3">
            <input type="text" class="form-control" autofocus id="username" name="username" required  placeholder="Enter Full Name" />
          </div>
          <div class="mb-3">
            <input
              type="password"
              class="form-control"
              placeholder="Password"
              id="password" name="password" required
            />

          </div>
          <button type="submit" name="signin" class="btn btn-primary">LogIn</button>
        </form>
      </div>
    </div>
  </body>
</html>
